{% extends "base.html" %}
{% load staticfiles%}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Site</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br><br>

<section>
    <div class="container-fluid" id="main">
        <div class="row">
          <div class="col-md-3">

          </div>

          <div class="col-md-6">
              <br><br>
                <h2>Wahoo! Your dockerized Django app worked!</h2>
                <h2>This app comes with Cosmo bootstrap and postgresql</h2>
                <h2>Now it is time to customize your app - happy coding</h2>
              <br>
              <p class="bs-component">
              <a href="#" class="btn btn-default">Default</a>
              <a href="#" class="btn btn-primary">Primary</a>
              <a href="#" class="btn btn-success">Success</a>
              <a href="#" class="btn btn-info">Info</a>
              <a href="#" class="btn btn-warning">Warning</a>
              <a href="#" class="btn btn-danger">Danger</a>
              <a href="#" class="btn btn-link">Link</a>
              </p>
          </div>

          <div class="col-md-3">

          </div>
        </div>
    </div>
</section>

{% endblock %}
